* {
    font-family: 'Titillium Web', sans-serif;
}
body {background-color: pink;}
.container  {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.container .row {
  margin: 0 auto;
}
