<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" href="style.css" type="text/css" />
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        
        <h1 class="center-align">Math Time!</h1>
        <!--<i class="material-icons" class =  "center-align">sentiment_very_satisfied</i>-->
        <form method = "post" action = "/doMath">
            <input type="text" name="firstNum" placeholder="Enter a number" class = "center-align" />
            <input type="text" name="secondNum" placeholder="Enter a number" class = "center-align"/>
            <input type="text" name="operation" placeholder="Enter an operation" class = "center-align"/>
            <div id="div" class="row center">
                <input type="submit" class="btn-large pink accent-1" >
            </div>
        </form>
    </body>
</html>